.tooltip{	display: none;
			/*background: transparent url("chrome-extension://ofbldhdfndbmemaeimdpnbkgdibenblm/bubble.png") 0px 0px no-repeat;*/
			font-size: 12px;
			height: 95px;
			width: 175px;
			margin: -14px 0px 0px 14px;
			padding-top: 10px;
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 25px;
			font-size: 11px;
			color: #666;
			z-index: 20;
			position: absolute;
			text-align: left;}